html, body {
    margin: 0;
    overflow: hidden;
}

body {
    background: #000;
}

img {
    border: 0;
}

.star-bg, .render-fg, .ui-overlay {
    position: absolute;
}

.stars,
.prerender {
    display: none;
}

.star-bg:not(.prerender) {
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
}

.render-fg {

}