html, body {
    margin: 0;
    overflow: hidden;
}

body {
    background: #000;
}

img {
    border: 0;
}

.ui-overlay,
.canvas-container,
.scene {
    position: absolute;
}

.stars,
.prerender {
    display: none;
}

.canvas-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin: -50% 0 0 -50%;
}

.scene {
    width: 100%;
    height: 100%;
}

.prerender {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: 10;
}

.console {
position:absolute;
top:0;
left:0;
color:#FFF;
z-index: 100;
}